a {
  color: #25c6da;
}

a:hover {
  color: #0097a7;
}

#home {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: block;
}

.img-logo {
  height: 54px;
  margin: 4px 12px 4px 12px;
  opacity: 0.9;
}

#small-logo {
  float: right;
  height: 48px;
}

.sidenav {
  width: 200px;
}

.parallax-container {
  height: 600px;
}

.section-start {
  margin-top: 54px;
}

section {
  height: auto;
}

.section-divider {
  background-color: #ff9f00;
  height: 4px;
  margin-top: 54px;
}

.social-network {
  margin: 0 10px 0 10px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 33px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 23px;
  }

  h5 {
    font-size: 19px;
  }

  h6 {
    font-size: 16px;
  }

  .section {
    height: auto;
  }
}
