a {
  color: #ff9f00;
}

#home {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: block;
}

.img-logo {
  height: 54px;
  margin: 4px 12px 4px 12px;
  opacity: 0.9;
}

#small-logo {
  float: right;
  height: 48px;
}

.sidenav {
  width: 200px;
}

.parallax-container,
.section {
  height: 600px;
}

.social-network {
  margin: 0 10px 0 10px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 33 px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 23px;
  }

  h5 {
    font-size: 19px;
  }

  .section {
    height: auto;
  }
}
